<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openNewProduct()" color="primary">
          <ion-icon name="add-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()" color="medium">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Lista de productos -->
<ion-content class="ion-padding">
  <h2>Gestión de Productos</h2>

  <!-- Loading -->
  @if (isLoading) {
    <div class="loading">
      <ion-spinner></ion-spinner>
      <p>Cargando productos...</p>
    </div>
  }

  <!-- Lista vacía -->
  @if (!isLoading && !errorMessage && productos.length === 0) {
    <div class="empty-state">
      <ion-icon name="cube-outline" size="large" class="icon-empty"></ion-icon>
      <h3>No hay productos</h3>
      <p>Comienza agregando un producto</p>
      <ion-button (click)="openNewProduct()" class="ion-margin-top">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Agregar Producto
      </ion-button>
    </div>
  }

  @if (!isLoading && productos.length > 0) {
    <ion-list [inset]="true">
      @for (producto of visibleProductos; track producto.id; let i = $index) {
        <ion-item (click)="openEditProduct(producto)" detail="true">
          <ion-avatar slot="start">
            <ion-icon name="pricetag-outline" size="large"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>{{ producto.nombre }}</h3>
            <p>
              <ion-icon name="cash-outline"></ion-icon>
              S/ {{ producto.precio }}
            </p>
            @if (producto.descripcion) {
              <p class="descripcion">
                <ion-icon name="document-text-outline"></ion-icon>
                {{ producto.descripcion }}
              </p>
            }
            <p>
              <ion-icon name="file-tray-stacked-outline"></ion-icon>
              {{ producto.stock }}
              </p>
          </ion-label>

          <ion-button 
            slot="end" 
            fill="clear" 
            color="danger" 
            (click)="$event.stopPropagation(); deleteProduct(producto)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      }
      
    </ion-list>

    <div class="stats ion-text-center ion-margin-top">
      <ion-text color="medium">
        <ion-icon name="pricetags-outline"></ion-icon>
          Total: {{ productos.length }} producto(s)
        </ion-text>
    </div>
  }

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Modal para crear/editar producto -->
  <ion-modal [isOpen]="showModal" (didDismiss)="showModal=false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editingProduct ? 'Editar' : 'Nuevo' }} Producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showModal=false">
              <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
            <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
              <ion-item>
                <ion-label position="stacked">
                  <ion-icon name="pricetags-outline" size="small"></ion-icon>
                  Nombre*
                </ion-label>
                <ion-input formControlName="nombre" placeholder="Ej. Zapatos"></ion-input>
              </ion-item>
              @if (isInvalid('nombre')) {
                <ion-text color="danger">
                  @for (msg of validation_messages.nombre; track msg; let i = $index) {
                    @if (hasError('nombre', msg.type )) {
                      <small>{{ msg.message }}</small>
                    }
                  }
                </ion-text>
              }

              <ion-item>
                <ion-label position="stacked">
                  <ion-icon name="document-text-outline" size="small"></ion-icon>
                  Descripción
                </ion-label>
                <ion-textarea formControlName="descripcion" auto-grow="true" placeholder="Color, talla, material"></ion-textarea>
              </ion-item>
              @if (isInvalid('descripcion')) {
                <ion-text color="danger">
                  @for (msg of validation_messages.descripcion; track msg; let i = $index) {
                    @if (hasError('descripcion', msg.type )) {
                      <small>{{ msg.message }}</small>
                    }
                  }
                </ion-text>
              }

              <ion-item>
                <ion-label position="stacked">
                  <ion-icon name="cash-outline" size="small"></ion-icon>
                  Precio*
                </ion-label>
                <ion-input type="number" formControlName="precio" placeholder="Ej. 120.50"></ion-input>
              </ion-item>
              @if (isInvalid('precio')) {
                <ion-text color="danger">
                  @for (msg of validation_messages.precio; track msg; let i = $index) {
                    @if (hasError('precio', msg.type )) {
                      <small>{{ msg.message }}</small>
                    }
                  }
                </ion-text>
              }

              <ion-item>
                <ion-label position="stacked">
                  <ion-icon name="layers-outline" size="small"></ion-icon>
                  Stock*
                </ion-label>
                <ion-input type="number" formControlName="stock" placeholder="Ej. 30"></ion-input>
              </ion-item>
              @if (isInvalid('stock')) {
                <ion-text color="danger">
                  @for (msg of validation_messages.stock; track msg; let i = $index) {
                    @if (hasError('stock', msg.type )) {
                      <small>{{ msg.message }}</small>
                    }
                  }
                </ion-text>
              }

              <div class="buttons-container">
                <ion-button expand="block" type="submit" [disabled]="productForm.invalid" class="ion-margin-top">
                  <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                  {{ editingProduct ? 'Actualizar' : 'Crear' }}
                </ion-button>
                <ion-button expand="block" fill="outline" (click)="showModal=false" class="ion-margin-top">
                  <ion-icon name="close-outline" slot="start"></ion-icon>
                  Cancelar
                </ion-button>
              </div>
            </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
